@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #F0F0F2;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  margin-bottom: 20px;
}

.person__photo-wrap {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border: 4px solid #0EB1E8;
  background-color: #0EB1E8;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 10px;
}

.person__photo {
  width: 100%;
}

.person__name {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
  height: 100vh;
  background-color: #004E74;
}

.navbar__list {
  margin-bottom: 90px;
}

.navbar__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  color: #0EB1E8;
}

.navbar__items:hover {
  background-color: #035881;
  cursor: pointer;
}

.navbar__items_active {
  background-color: #035881;
  color: #ffffff;
}

.navbar__icon {
  height: 25px;
  margin-right: 10px;
}

.navbar__items-label {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.navbar__btn {
  border: none;
  background: none;
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  border: 1px solid #0EB1E8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 0 20px;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.navbar__btn:hover {
  border-color: #ffffff;
  cursor: pointer;
}

.navbar__btn:focus, .navbar__btn:active {
  outline: none;
}

.navbar__btn-text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.main {
  width: -webkit-calc(100% - 250px);
  width: calc(100% - 250px);
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  padding: 40px 50px;
  background-color: #ffffff;
}

.main__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #011925;
  display: block;
  margin-bottom: 40px;
}

.main__content-block {
  min-height: 100%;
}

.main__input-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.main__input-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-calc(100% - 90px);
  width: calc(100% - 90px);
  margin-right: 100px;
}

.main__input-group:last-child {
  margin-right: 0;
}

.main__group-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.main__label, .main__btn-discription {
  font-size: 14px;
  color: #023853;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  display: block;
  margin-bottom: 5px;
}

.main__input {
  display: block;
  margin-bottom: 15px;
  padding: 7px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  border: 2px solid #aaaaaa;
  color: #686868;
}

.main__input:last-child {
  margin-bottom: 0;
}

.main__input:active, .main__input:focus {
  outline: none;
  border: 2px solid #0EB1E8;
  color: #000000;
}

.main__mail-add {
  padding: 7px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border: 2px solid #aaaaaa;
  color: #0EB1E8;
  background: none;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.main__mail-add:hover {
  cursor: pointer;
  border: 2px solid #0EB1E8;
}

.main__mail-add:active, .main__mail-add:focus {
  outline: none;
}

.main__adress-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 45px;
}

.main__submit-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 7px;
  width: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 45px;
  background-color: rgba(14, 177, 232, 0.3);
  border: none;
  border: 2px solid #0EB1E8;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.main__submit-btn:hover {
  cursor: pointer;
  background-color: #0EB1E8;
}

.main__submit-btn:active, .main__submit-btn:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */